__pycache__
.vscode
hl19/studies/
hl19/envs/
hl19/spool/
hl19/no_errors
hl19/with_errors_most_critical_only
hl19/no_errors_Q2R5_noskew
hl19_study2/studies/
hl19_study2/envs/
hl19_study2/spool/
hl19_study2/b1_cycle_round_v0_opt_150_clean_dist_and_case_scan
hl19_study2/b1_cycle_round_v0_opt_150_clean_dist_and_case_scan_patch
hl19_study2/b1_cycle_round_v0_opt_150_clean_dist_and_case_scan_patch2
hl19_study2/b1_cycle_round_v0_opt_150_tight_clean_dist_and_case_scan
hl19_study2/b1_cycle_round_v0_opt_150_tight_clean_dist_and_case_scan_patch
hl19_study2/b1_cycle_round_v0_opt_150_tight_clean_dist_and_case_scan_patch2
hl19_study2/b1_cycle_round_v0_opt_150_tight_clean_nemitt_scan_Q2R5b
hl19_study2/b1_cycle_round_v0_opt_150_tight_clean_imo_scan_Q2R5b
hl19_study2/b1_cycle_round_v0_opt_150_tight_betabeat_Q2R5b
hl19_study2/b1_cycle_round_v0_opt_150_relaxed_clean_dist_and_case_scan